<% include ./partials/header %>

    <div class="hero-image"></div>

<div class="container">
	<div class="row">

		<div class="col-md-4"><img class="imgMargin" src="img/jslogo.png"><h2>NodeJS</h2>
	  		<div class="content ">
	  			<ul class="list-group">
	  				<% for(var i = 0; i < nodePosts.length; i++) { %>
	  					
	  					<div>
		  					<li class="list-group-item">
		  						<a href="<%= nodePosts[i].URL %>"><%= nodePosts[i].Title %></a>
		  					</li>
		  				</div>
		  				
	  				<% }; %>
	  			</ul>
	  		</div>
	  	</div>
	  	<div class="col-md-4"><img src="img/express.jpg" class="imgMargin"><h2>Express</h2>
	  		<div class="content ">
	  			<ul class="list-group">
	  				<% for(var i = 0; i < expressPosts.length; i++) { %>
	  					
	  					<div>
		  					<li class="list-group-item">
		  						<a href="<%= expressPosts[i].URL %>"><%= expressPosts[i].Title %></a>
		  					</li>
		  				</div>
		  				
	  				<% }; %>
	  			</ul>
	  		</div>
	  	</div>
	  	<div class="col-md-4"><img src="img/ejs.jpg" class="imgMargin"><h2>EJS</h2>
	  		<div class="content ">
	  			<ul class="list-group">
	  				<% for(var i = 0; i < ejsPosts.length; i++) { %>
	  					
	  					<div>
		  					<li class="list-group-item">
		  						<a href="<%= ejsPosts[i].URL %>"><%= ejsPosts[i].Title %></a>
		  					</li>
		  				</div>
		  				
	  				<% }; %>
	  			</ul>
	  		</div>
	  	</div>

	  	<div class='col-md-12'>
	  		<a href="/newPost"><button class="btn btn-primary">Create New Post</button></a>
	  	</div>	  	

	</div>
</div>
   <% include ./partials/footer %>