<% include ./partials/header %>

    <div class="hero-image"></div>
   	<div class="hero-text">
   		<img id="imgResize" src="img/jslogo.png">
		<h1 class="zeroMargin">KEEP<br>CALM</h1>
		<p class="zeroMargin">AND</p>
		<h1 class="zeroMargin">NODE<br>MON</h1>
	</div>

<div class="container">
	<div class="row">


		<div class="col-md-4"><h2>NodeJS</h2>
	  		<div class="content ">
	  			<ul class="list-group">
	  				<%if(posts.Category == 'node'){
	  					for(var i = 0; i < posts.length; i++) { %>
	  					<div>
		  					<li class="list-group-item">
		  						<a href="<%=posts[i].URL%>"><%= posts[i].Title %></a>
		  					</li>
		  				</div>
	  				<% }; %>
	  			</ul>
	  		</div>
	  	</div>
	  			<% } else if(posts.Category == 'ejs') { %>
	  			<div class="col-md-4"><h2>EJS</h2>
	  				<div class="content">
		  				<ul class="list-group">
		  					<%for(var i = 0; i < posts.length; i++) { %>
		  					<div>
			  					<li class="list-group-item">
			  						<a href="<%=posts[i].URL%>"><%= posts[i].Title %></a>
			  					</li>
			  				</div>
			  				<%};%>
			  			</ul>
			  		</div>
			  	</div>

			  	<% } else if(posts.Category == 'express') { %>
	  			<div class="col-md-4"><h2>Express</h2>
	  				<div class="content">
		  				<ul class="list-group">
		  					<%for(var i = 0; i < posts.length; i++) { %>
		  					<div>
			  					<li class="list-group-item">
			  						<a href="<%=posts[i].URL%>"><%= posts[i].Title %></a>
			  					</li>
			  				</div>
			  				<% }; } %>
			  			</ul>
			  		</div>
			  	</div>


	</div>
</div>
   <% include ./partials/footer %>